table {
    background-color: #f2f2f2;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

/* Style the table headers */
th {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Style the table cells */
td {
    text-align: center;
    padding: 8px;
}

/* Add a border to table rows and cells */
tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}